/*******************/
/* GENERAL PURPOSE */
/*******************/

@font-face {
    font-family: 'seven-segments';
    src: url('../fonts/DSEG7ClassicMini-Bold.woff');
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    cursor: default;
    font-family: sans-serif;
    user-select: none;
}

:root {
    --shadow: -0.5rem 0.5rem 1rem 0 rgba(0, 0, 0, 0.5);
    --border-colors-in: gray white white gray;
    --border-colors-out: white gray gray white;
    --window-content-bg-color: #C0C0C0;
}



/**************/
/* TAG STYLES */
/**************/

body {
    display: grid;
    place-content: center;
    padding: 1rem;
    min-height: calc(100vh - 2rem);
    background: radial-gradient(circle at 100% 0, white, cornflowerblue);
}

table {
    border-spacing: 0;
}



/**********/
/* WINDOW */
/**********/

.window {
    border: 1px solid darkblue;
    border-radius: 0.5rem 0.5rem 0 0;
    box-shadow: var(--shadow);
    background-color: var(--window-content-bg-color);
    overflow: hidden;
    min-width: fit-content;
}

/* WINDOW > HEADER */

.window .header {
    background: linear-gradient(#3593FF 0%, #0055E5 20%, #0055E5 80%, darkblue 100%);
    padding: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 1px darkblue;  
}

.window .header::before {
    content: url('../img/mine.svg');
    width: 1rem;
    height: 1rem;
}



/********/
/* MENU */
/********/

.menu {
    background-color: #ECE9D8;
    border-bottom: 4px solid white;
}

/* MENU > ITEM */

.menu .item {
    --menu-hover-color: white;
    --menu-hover-bg-color: #316AC5;

    display: inline-block;
}

/* MENU > ITEM > SPAN */

.menu .item > span {
    display: inline-block;
    padding: 0.25rem 0.75rem;
}

.menu .item > span:hover,
.menu .item.expanded > span {
    color: var(--menu-hover-color);
    background-color: var(--menu-hover-bg-color);
}

/* MENU > SUBMENU */

.menu .submenu {
    --submenu-line-width: 1px;
    --submenu-line-color: gray;
    --submenu-items-margin: 2px;

    position: absolute;
    background-color: white;
    padding: var(--submenu-items-margin);
    border: var(--submenu-line-width) solid var(--submenu-line-color);
    z-index: 1;
    box-shadow: var(--shadow);
    transition: 0.2s ease-in-out;
    
    opacity: 0;
    visibility: hidden;
    transform: translateY(-1rem);
}

.menu .item.expanded > .submenu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0rem);
}

/* MENU > SUBMENU > ITEM */

.menu .submenu tr:not(.separator):hover {
    color: var(--menu-hover-color);
    background-color: var(--menu-hover-bg-color);
}

.menu .submenu tr.separator hr {
    height: var(--submenu-line-width);
    margin: var(--submenu-items-margin) 0;
    background-color: var(--submenu-line-color);
}

.menu .submenu tr:not(.separator) td {
    padding: 0.2rem 0.5rem 0.2rem 0;
}

/* MENU > SUBMENU > ITEM LEVEL */

.menu .submenu tr.level.selected td:first-child {
    width: 1rem;
    background: no-repeat center / .6rem;
    background-image: url("data:image/svg+xml, %3Csvg viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,2 2,4 6,0 6,2 2,6 0,4'/%3E%3C/svg%3E");
}

.menu .submenu tr.level.selected:hover td:first-child {
    background-image: url("data:image/svg+xml, %3Csvg viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg' fill='white'%3E%3Cpolygon points='0,2 2,4 6,0 6,2 2,6 0,4'/%3E%3C/svg%3E");
}



/**************/
/* SCOREBOARD */
/**************/

.scoreboard {
    margin: 0.5rem;
    border: 3px solid;
    border-color: var(--border-colors-in);
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
}

/* SCOREBOARD > COUNTER */

.scoreboard .counter {
    border: 1px solid;
    border-color: var(--border-colors-in);
    background-color: black;
    padding: 1px 0;
    position: relative; 
    display: flex;    
}

.scoreboard .counter > span {
    font-family: 'seven-segments', sans-serif;
    font-size: 1.6rem;
    color: red;
}

.scoreboard .counter > span.placeholder {
    position: absolute;
    opacity: 0.3;
}

/* SCOREBOARD > MAIN BUTTON */

.scoreboard .main-button {
    border: 1px solid gray;
    background-color: gray;
    overflow: hidden;    
}

.scoreboard .main-button button {
    border: 3px solid;
    border-color: var(--border-colors-out);
    height: 100%;
    width: 1.9rem;
    background: no-repeat center / 1.25rem url('../img/face-smile.svg'), var(--window-content-bg-color);
}

.scoreboard .main-button button:active {
    border-color: var(--border-colors-in);
    position: relative;
    top: 1px;
}

.scoreboard .main-button button.surprise { background-image: url('../img/face-surprise.svg'); }
.scoreboard .main-button button.looser   { background-image: url('../img/face-looser.svg'  ); }


/**************/
/* GAME BOARD */
/**************/

.game-board {
    border: 3px solid;
    border-color: gray white white gray;
    margin: 0.5rem;
}

.game-board table td {
    border: 3px solid;
    border-color: white gray gray white;
    width: 16px;
    height: 16px;
    text-align: center;
    font-family: "Arial Black", Gadget, sans-serif;
    line-height: .9rem;
}

.game-board table td.flag       { background: no-repeat center / 80% url('../img/flag.svg'      ); }
.game-board table td.mine.show  { background: no-repeat center / 80% url('../img/mine.svg'      ); }
.game-board table td.wrong-flag { background: no-repeat center / 80% url('../img/mine-cross.svg'); }
.game-board table td.exploded   { background-color: red !important; }

.game-board table td.show {
    border: solid gray;
    border-width: 1px 0px 0px 1px;
    width: 21px;
    height: 21px;
}

.game-board table td.n1:before { content: "1"; color: #0000FF; }
.game-board table td.n2:before { content: "2"; color: #008000; }
.game-board table td.n3:before { content: "3"; color: #FF0000; }
.game-board table td.n4:before { content: "4"; color: #010080; }
.game-board table td.n5:before { content: "5"; color: #810102; }
.game-board table td.n6:before { content: "6"; color: #008081; }
.game-board table td.n7:before { content: "7"; color: #000000; }
.game-board table td.n8:before { content: "8"; color: #808080; }
