/**
 * GLOBAL
 */

  @font-face {
    font-family: 'digital-7';
    src: url('../fonts/digital-7-mono.ttf');
  }

:root {
    --hover-color: #316AC5;
    --border-in-colors: gray white white gray;
    --border-out-colors: white gray gray white;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    cursor: default;
    font-family: sans-serif;  
    user-select: none;
}

body {
    display: grid;
    place-content: center;
    height: 100vh;
    background: linear-gradient(white, gray);  
}



/**
 * WINDOW
 */

.window {
    border: 1px solid darkblue;
    border-radius: 0.5rem 0.5rem 0 0;
    overflow: hidden;
    box-shadow: 0.5rem 0.5rem 1rem 0 rgba(0, 0, 0, 0.5);
    background-color: #C0C0C0;
    width: fit-content;
}

.window .title-bar {
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    gap: 0.5rem;
    height: 2rem;
    background: linear-gradient(#3593FF 0%, #0055E5 20%, #0055E5 80%, darkblue 100%);
    color: white;
    font-weight: bold; 
    text-shadow: 1px 1px 1px darkblue;
}

.window .title-bar img {
    width: 1rem;
    height: 1rem;
}



/**
 * MENU
 */

.menu {
    display: flex;
    align-items: center;
    border-bottom: 4px solid white;
}

.menu > div:last-child {
    flex-grow: 1;
    align-self: stretch;
    background-color: #ECE9D8;
    z-index: 2;
}

.menu .item > span {
    display: inline-block;
    padding: 0.25rem 0.75rem;
    position: relative;  
    background-color: #ECE9D8;
    z-index: 2;  
}

.menu .item:hover > span,
.menu.expanded .item.active > span { 
    color: white;
    background-color: var(--hover-color);
}

.menu.expanded .item.active .submenu {
    opacity: 2;
    transform: translateY(0rem);
    visibility: visible;
}



/**
 * SUBMENU
 */

.submenu {
    --submenu-padding: 2px;
    --submenu-column-gap: 0.5rem;
    --submenu-border-width: 1px;
    --submenu-border-color: gray;

    position: absolute;
    border-spacing: 0;
    border: var(--submenu-border-width) solid var(--submenu-border-color);
    background-color: white;
    padding: var(--submenu-padding);
    box-shadow: 0.5rem 0.5rem 1rem 0 rgba(0, 0, 0, 0.5);
    z-index: 1;
    
    transition: 0.2s ease-in-out;

    opacity: 0;
    transform: translateY(-1rem);
    visibility: hidden;
}

.submenu svg {
    width: 0.5rem;
    height: 0.5rem;
    margin-left: var(--submenu-column-gap);
    display: block;
}

.submenu tr:not(.selected) svg {
    display: none;
}

.submenu tr:not(.separator) td {
    padding: 0.2rem var(--submenu-column-gap) 0.2rem 0;
}

.submenu tr:not(.separator):hover {
    background-color: var(--hover-color);
    color: white;
    fill: white;
}

.submenu .separator hr {
    height: var(--submenu-border-width);
    background-color: var(--submenu-border-color);
    margin: var(--submenu-padding) 0;
}



/**
 * SCOREBOARD
 */

.scoreboard {
    --scoreboard-height: 2rem;

    border: 3px solid;
    border-color: var(--border-in-colors);
    margin: 0.5rem;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
}



/**
 * COUNTER
 */

.counter {
    border: 1px solid;
    border-color: var(--border-in-colors);    
    background-color: black;
    color: red;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    height: var(--scoreboard-height);
}

.counter span {
    font-family: 'digital-7', sans-serif;
    font-size: 2.5rem;
}

.counter .placeholder {
    position: absolute;
    opacity: 0.3;
}



/**
 * MAIN BUTTON
 */

.main-button {
    border: 1px solid gray;    
    height: var(--scoreboard-height);
    width: var(--scoreboard-height);
}

.main-button button {
    background-color: unset;    
    font-size: 1.1rem;
    line-height: 1rem;
    border: 3px solid;
    border-color: var(--border-out-colors);
    height: 100%;
    width: 100%;
    text-align: center;
}



/**
 * GAME BOARD
 */

.game-board {
    border: 3px solid;
    border-color: var(--border-in-colors);
    margin: 0.5rem;
}

.game-board table {
    border-spacing: 0;
}

.game-board td {
    border: 3px solid;
    border-color: var(--border-out-colors);
    height: 1rem;
    min-width: 1rem;
}