/*******************/
/* GENERAL PURPOSE */
/*******************/

@font-face {
    font-family: 'seven-segments';
    src: url('../fonts/DSEG7ClassicMini-Bold.woff');
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    cursor: default;
    font-family: sans-serif;
    user-select: none;
    outline: none;
}

:root {
    --shadow: -0.5rem 0.5rem 1rem 0 rgba(0, 0, 0, 0.5);
    --border-colors-in: gray white white gray;
    --border-colors-out: white gray gray white;
    --window-content-bg-color: #C0C0C0;
}



/*********************/
/* GLOBAL TAG STYLES */
/*********************/

body {
    display: grid;
    place-content: center;
    min-height: 100vh;
    background: radial-gradient(circle at 100% 0, white, cornflowerblue);
}

dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

dialog::backdrop {
    background-color: black;
    opacity: .7;
}

table {
    border-spacing: 0;
}



/**********/
/* WINDOW */
/**********/

.window {
    border: 1px solid darkblue;
    border-radius: 0.5rem 0.5rem 0 0;
    box-shadow: var(--shadow);
    background-color: var(--window-content-bg-color);
    overflow: hidden;
    min-width: fit-content;
}

/* WINDOW HEADER */

.window .header {
    background: linear-gradient(#3593FF 0%, #0055E5 20%, #0055E5 80%, darkblue 100%);
    padding: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: white;
    font-weight: bold;
    text-shadow: -2px 2px 2px darkblue;  
}

.window .header .icon {
    width: 1rem;
    height: 1rem;
}



/********/
/* MENU */
/********/

.menu {
    background-color: #ECE9D8;
    border-bottom: 4px solid white;
}

/* MENU ITEM */

.menu > .item {
    --menu-hover-color: white;
    --menu-hover-bg-color: #316AC5;

    display: inline-block;
}

.menu > .item .label {
    display: inline-block;
    padding: 0.25rem 0.75rem;
}

.menu > .item .label:hover,
.menu > .item.expanded .label {
    color: var(--menu-hover-color);
    background-color: var(--menu-hover-bg-color);
}

/* SUBMENU */

.menu > .item .submenu {
    --submenu-line-width: 1px;
    --submenu-line-color: gray;
    --submenu-items-margin: 2px;

    position: absolute;
    background-color: white;
    padding: var(--submenu-items-margin);
    border: var(--submenu-line-width) solid var(--submenu-line-color);
    z-index: 1;
    box-shadow: var(--shadow);
    transition: 0.2s ease-in-out;
    
    opacity: 0;
    visibility: hidden;
    transform: translateY(-1rem);
}

.menu > .item.expanded .submenu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0rem);
}

/* SUBMENU ITEM */

.menu .submenu .item td {
    padding: 0.2rem 0.5rem 0.2rem 0;
}

.menu .submenu .item:hover {
    color: var(--menu-hover-color);
    background-color: var(--menu-hover-bg-color);
}

/* SUBMENU SEPARATOR */

.menu .submenu .separator hr {
    height: var(--submenu-line-width);
    margin: var(--submenu-items-margin) 0;
    background-color: var(--submenu-line-color);
}

/* SUBMENU ITEM SELECTABLE */

.menu .submenu .item.selectable.selected > td:first-child {
    width: 1rem;
    background: url('../img/check-black.svg') no-repeat center / .6rem;
}

.menu .submenu .item.selectable.selected:hover > td:first-child {
    background-image: url('../img/check-white.svg');
}



/**************/
/* SCOREBOARD */
/**************/

.scoreboard {
    --scoreboard-content-height: 28px;
    --scoreboard-border-width: 1px;

    border: 3px solid;
    border-color: var(--border-colors-in);
    margin: 0.5rem;
    padding: 0.5rem;
    gap: 0.5rem;
    display: flex;
    justify-content: space-between;
}

/* SCOREBOARD COUNTER */

.scoreboard .counter {
    border: var(--scoreboard-border-width) solid;
    border-color: var(--border-colors-in);
    background-color: black;
    display: flex;  
    height: fit-content;  
}

.scoreboard .counter .value, 
.scoreboard .counter .placeholder {
    font-family: 'seven-segments';
    line-height: var(--scoreboard-content-height);
    font-size: calc(var(--scoreboard-content-height) - 4px);
    color: red;
}

.scoreboard .counter .placeholder {
    position: absolute;
    opacity: 0.3;
}

/* SCOREBOARD MAIN BUTTON */

.scoreboard #main-button {
    border: var(--scoreboard-border-width) solid gray;
    background-color: gray;
    display: flex;
}

.scoreboard #main-button button {
    border: 3px solid;
    border-color: var(--border-colors-out);
    height: var(--scoreboard-content-height);
    width: var(--scoreboard-content-height);
    background: no-repeat center / 80% url('../img/face-smile.svg'), var(--window-content-bg-color);
}

.scoreboard #main-button button:active {
    border-color: var(--border-colors-in);
    position: relative;
    top: 1px;
}

.scoreboard #main-button.surprise button { background-image: url('../img/face-surprise.svg'); }
.scoreboard #main-button.looser   button { background-image: url('../img/face-looser.svg'  ); }
.scoreboard #main-button.winner   button { background-image: url('../img/face-winner.svg'  ); }



/**************/
/* GAME BOARD */
/**************/

.game-board {
    border: 3px solid;
    border-color: var(--border-colors-in);
    margin: 0.5rem;
}

/* GAME BOARD CELL */

.game-board .cell {
    border: 3px solid;
    border-color: white gray gray white;
    min-width: 16px;
    height: 16px;
    text-align: center;
    line-height: .9rem;
    font-weight: 900;
}

.game-board .cell.shown {
    border: solid gray;
    border-width: 1px 0px 0px 1px;
    width: 21px;
    height: 21px;
}

.game-board .cell.flagged        { background: no-repeat center / 80% url('../img/flag.svg'      ); }
.game-board .cell.shown.mine     { background: no-repeat center / 80% url('../img/mine.svg'      ); }
.game-board .cell.shown.error    { background: no-repeat center / 80% url('../img/mine-cross.svg'); }
.game-board .cell.shown.exploded { background-color: red !important; }

.game-board .cell.shown.n1:before { content: "1"; color: #0000FF; }
.game-board .cell.shown.n2:before { content: "2"; color: #008000; }
.game-board .cell.shown.n3:before { content: "3"; color: #FF0000; }
.game-board .cell.shown.n4:before { content: "4"; color: #010080; }
.game-board .cell.shown.n5:before { content: "5"; color: #810102; }
.game-board .cell.shown.n6:before { content: "6"; color: #008081; }
.game-board .cell.shown.n7:before { content: "7"; color: #000000; }
.game-board .cell.shown.n8:before { content: "8"; color: #808080; }



/*********************/
/* NEW RECORD DIALOG */
/*********************/

#newRecordDialog .content {
    padding: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
    max-width: min-content;
    justify-content: center;
}

#newRecordDialog .main-panel {
    display: flex;
    gap: 1rem;
}

#newRecordDialog .main-panel td:not(:first-child) {
    padding-left: 1rem;
}

#newRecordDialog .main-panel tr:not(:first-child) > td {
    padding-top: 0.5rem;
}

#newRecordDialog .main-panel img {
    width: 3rem;
    margin: 0 1rem;
}

#newRecordDialog .main-panel input {
    width: 10rem;
    padding: 3px 4px;
    border: 1px solid #7f9db9;
}

#newRecordDialog .content button {
    padding: 0.3rem 1rem;
    border: 1px solid #003c74;
    border-radius: 3px;
    background: linear-gradient(180deg, #fff, #ecebe5 86%, #d8d0c4);
}

#newRecordDialog .content button:not(:disabled):hover {
    box-shadow: inset -1px 1px #fff0cf, inset 1px 2px #fdd889, inset -2px 2px #fbc761, inset 2px -2px #e5a01a;
}

#newRecordDialog .content button:not(:disabled):active {
    background: linear-gradient(180deg, #cdcac3, #e3e3db 8%, #e5e5de 94%, #f2f2f1);
}

#newRecordDialog .content button.focused, button:focus {
    box-shadow: inset -1px 1px #cee7ff, inset 1px 2px #98b8ea, inset -2px 2px #bcd4f6, inset 1px -1px #89ade4, inset 2px -2px #89ade4;
}

#newRecordDialog .content button.focused, button:focus {
    outline: 1px dotted #000;
    outline-offset: -4px;
}

.game-board .cell.mine { background-color: red; }